@font-face {
  font-family: 'Ramche';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Ramche';
}
img {
  border: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
} /*reset*/

body {
  width: 1000px;
  margin: 0 auto;
}

/*********************************main********************************/
#main {
  position: relative;
}

#main-video {
  width: 800px;
  height: 800px;
  padding: 0 100px;
  z-index: 0;
}

#main-effect {
  display: none;
}

#main-title {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%); /*본인 너비의 절반만큼 다시 왼쪽으로 이동*/
  z-index: 10;
  font-size: 50px;
  color: darkbrown;

  background-color: rgba(255, 255, 255, 0.5); /*흐림도 설정*/

  border-radius: 15px;
}

/*main-button*/
#main-button1 {
  position: absolute;
  top: 400px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#main-button2 {
  position: absolute;
  top: 500px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#main-button3 {
  position: absolute;
  top: 600px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

/***********Kickoff*************/
#kickoff-elements {
  display: none;
}

/*kickoff buttons*/
#kickoff-back {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 15px;
  background-image: url('assets/back.png');
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
}
#kickoff-button1 {
  position: absolute;
  /*bottom: 50%;*/
  top: 400px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#kickoff-button2 {
  position: absolute;
  /*bottom: 40%;*/
  top: 500px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#kickoff-button3 {
  position: absolute;
  /*bottom: 30%;*/
  top: 600px;

  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

/***************************Setting**************************/
#setting-elements {
  display: none;
}
/*setting buttons*/
#setting-back {
  position: absolute;
  top: 50px;
  left: 120px;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 15px;
  background-image: url('assets/back.png');
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
}
/*sounds*/
#setting-button1 {
  position: absolute;
  top: 150px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#bgm {
  display: none;
}

#setting-sounds {
  position: absolute;
  top: 250px;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
}
#setting-mute {
  position: absolute;
  top: 250px;
  left: 62%;
  transform: translateY(-40%);
  width: 40px;
  height: 40px;
  background-image: url('assets/soundon.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

/*bgm-type*/

#setting-button2 {
  position: absolute;
  top: 350px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#left-arrow {
  position: absolute;
  top: 460px;
  width: 30px;
  height: 30px;
  left: 35%;
  transform: translateX(-50%);
  background-image: url('assets/arrow1.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}
#right-arrow {
  position: absolute;
  top: 460px;
  width: 30px;
  height: 30px;
  left: 65%;
  transform: translateX(-50%);
  background-image: url('assets/arrow2.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#setting-bgm-type {
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 450px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

/*uniform*/
#setting-button3 {
  position: absolute;
  top: 550px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}
#home-uniform {
  position: absolute;
  top: 610px;
  width: 100px;
  height: 100px;
  left: 43%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('assets/homeUniform.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border-radius: 15px;
  border: 0;
}

#away-uniform {
  position: absolute;
  top: 610px;
  width: 100px;
  height: 100px;
  left: 57%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url('assets/awayUniform.png');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border-radius: 15px;
  border: 0;
}

/*********************************ingame********************************/
#ingame {
  position: relative;
  display: none;
  padding: 20px 100px 0 100px;
}

#ingame-image {
  width: 800px;
  height: 800px;

  z-index: 0;
}

#ingame-pause-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  right: 110px;
  background-image: url('assets/Pause.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  border-radius: 5px;
  border: 0;
}
#ingame-bgm-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  right: 230px;
  background-image: url('assets/SongOn.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  border-radius: 5px;
  border: 0;
}

/*pause 일 때*/
#ingame-pause {
  position: relative;
  display: none;
  padding: 20px 100px 0 100px;
}

#continue {
  position: absolute;
  top: 600px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

#back-to-main-menu {
  position: absolute;
  top: 700px;
  width: 300px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('assets/menubutton.png');
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: center;
  border-radius: 15px;
}

/*  */

#ball {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('assets/ball.svg');
  background-size: cover;
  top: 550px;
  left: 390px;
  z-index: 10;
}

.brick {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url('assets/brick.svg');
  background-size: cover;
}

.defender {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url('assets/defender.svg');
  background-size: cover;
}

.referee {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url('assets/referee.svg');
  background-size: cover;
}

.gk {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url('assets/goalkeeper.svg');
  background-size: cover;
}

/* 좌측 상단 점수 */
#ingame-ui-score {
  position: absolute;
  top: 40px;
  left: 120px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 1px 1px 2px black;
  z-index: 10;
}

/* 중앙 상단 타이머 / 스코어 */
#ingame-ui-timer {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 10;
}

#ingame-ui-match {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 10;
}

#ingame-reset-button {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  right: 170px;
  background-image: url('assets/reset.svg');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  border-radius: 5px;
  border: 0;
}

#player {
  position: absolute;
  width: 50px;
  height: 30px;
  background-image: url('assets/homeUniform.png');
  background-size: cover;
  top: 650px;
  left: 470px;
  z-index: 9;
}

#ingame-ui-special {
  position: absolute;
  bottom: 30px;
  left: 120px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px black;
  z-index: 10;
}
